h1,h2,h3,h4,h5 {
  padding: 15px;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

#equivalent {
  display: inline;
}

/* TOOL.HTML */
#mainBody {
  padding: 15px;
}

#symbolButtons {
  float: right;
}

table {
  font-family: arial, sans-serif;
  border: 2px solid;
  padding: 15px;
  width: 60%;
}

td, th {
  text-align: left;
  border: 1px solid;
  padding: 10px;
}

#backwardWorkings {
  display: none;
}

.tableHighlight tr:hover {
  background-color: rgba(71, 72, 181, 0.5);
}

tr:nth-child(even) {background-color: #f2f2f2;}

#mySelect, #myBackwardSelect {
  margin: 5px;
}

#previousStepButton {
  float: right;
}

#rulesInTool {
  display: none;
  float: right;
  font-size: 18px;
  padding-right: 15px;
}

#rulesInTool p:hover {
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  animation-name: animatetop;
  animation-duration: 0.3s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

#modalText {
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* RULES.HTML */
.rulesGrid {
  display: inline-grid;
  padding: 20px;
  grid-template-columns: auto auto auto;
}

.ruleGridItem {
  padding: 15px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* rounded corners */
  background-image: linear-gradient(to bottom right, rgb(225, 242, 242), rgba(176, 235, 233));

}

.ruleGridItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
