h1,h2,h3,h4,h5 {
  padding: 15px;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

#equivalent {
  display: inline;
}


/* tool.html */
#mainBody {
  padding: 15px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 10px;
}

/* rules.html */
.rulesGrid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.ruleGridItem {
  padding: 20px;
}
